
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

// --------------------------------------------------------------------------------
// GENERAL
// --------------------------------------------------------------------------------

* {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  
  &.scroll-lock {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5 {
}

h1 {
  text-align: center;
  line-height: 80px;
  margin: 0 80px;
}

.center-text {
  text-align: center;
}


// --------------------------------------------------------------------------------
// LAYOUT
// --------------------------------------------------------------------------------

// Main page layout
.flex-layout {
  position: relative;
  min-height: 100vh;
  background-color: $white-gray;
  display: flex;
  flex-direction: column;
}


.flex-layout__header {
  // Nav shrinks to wrong hamburger menu on mobile
  height: 50px;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 50px;
  z-index: 15;
  background: $black-gray-transluscent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  @include disable-select;
  @include border-radius(50%);
  @include transition(all 0.2s);

  .full-nav-item {
    display: none;
  }

  // Nav expands to top level header on larger screens
  @media (min-width: $tabletWidth) {
    position: fixed;
    top: 0;
    left: 0;
    height: initial;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: visible;
    border-radius: 0;
    @include transition(all 0.2s);
    @include shadow(0 -1px 10px 2px transparentize($black-gray, 0.4));

    .full-nav-item {
      display: block;
    }
  }
}

.flex-layout__body {
  flex-grow: 1;
  @include transition(all 0.2s);

  @media (min-width: $tabletWidth) {
    margin-top: 100px;      // height of header
  }
}

.flex-layout__footer {
  height: 120px;
  background: #777777;
}


.hamburger-icon {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  @include transition(all 0.5s);

  span {
    display: block;
    position: relative;
    height: 2px;
    width: 22px;
    background-color: white;
    margin: 5px 0;
    @include transform-origin(left center);
    @include transition(all 0.5s);
  }

  &.hamburger-icon--open {
    @include transform(translateX(2.5px));
    @include transition(all 0.5s);

    span {
      @include transition(all 0.5s);
    }
    span:nth-child(1) {
      @include transform(rotate(41deg));
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      @include transform(rotate(-41deg));
    }
  }

  @media (min-width: $tabletWidth) {
    display: none;
  }
}

// Mobile drawer menu opened and closed by hamburger icon on mobile viewport
.mobile-drawer {
  // Menu closed by default
  z-index: 10;
  background-color: $medium-gray;
  height: 100vh;
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @include shadow(0 0 10px 1px $black-gray);
  @include transition(width 0.5s, z-index 0.5s 0.5s);

  .mobile-drawer__content {
    opacity: 0;
    @include transition(all 0.2s);
  }

  // Drawer open
  &.mobile-drawer--open {
    width: 100vw;
    @include transition(all 0.5s);

    .mobile-drawer__content {
      opacity: 1;
      @include transition(all 0.3s 0.2s);
    }
  }

  // Drawer only usable on mobile viewports
  @media (min-width: $tabletWidth) {
    display: none;
  }

  .mobile-drawer__header {
    height: 80px;   // same height as hamburger icon + padding
    line-height: 80px;
    margin: 0;
    text-align: center;
  }

  .mobile-menu-component {
    max-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
  }


  // Mobile Menu navigation
  .mobile-menu-control {
    display: flex;
    background: snow;
    height: 40px;
    border-bottom: 1px solid $neutral;
    
    .mobile-menu-control__home-icon {
      width: 40px;
      margin: 10px;
      background-color: slategray;
      background: url('../resources/icons/home.svg') no-repeat center center;
    }
    
    .mobile-menu-control__back-icon {
      width: 10px;
      margin: 2px 0 0 10px;
      background-color: slategray;
      background: url('../resources/icons/arrow_reverse.svg') no-repeat center center;
    }

    .mobile-menu-control__title {
      display: inline-block;
      flex-grow: 1;
      background-color: snow;
      line-height: 40px;
      padding-left: 10px;
    }
  }

  .mobile-menu {
    flex-grow: 1;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;

    .mobile-menu__item {
      position: relative;
      padding: 15px 20px;
      font-size: 18px;
      font-weight: 300;
      background: $white-gray;

      &:not(:last-of-type) {
        border-bottom: 0.5px solid $neutral;
      }

      &.mobile-menu__item--nested {
        &:after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 10px;
          margin-right: 15px;
          background: url('../resources/icons/arrow.svg') no-repeat center center;
        }
      }
    }
  }
}

// Desktop nav menu only visible on larger viewports
.desktop-nav-container {
  width: 100%;
}

.desktop-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .desktop-nav__item {
    padding: 10px 15px;

    &:hover, &:active {
      .desktop-nav__expansion {
        display: block;
        position: absolute;
        left: 0;
        min-height: 400px;
        width: 100%;
        background-color: transparent;
        z-index: 15;
      }
    }
  }

  .desktop-nav__expansion {
    display: none;
  }
}

.nav-submenu {
  margin-top: 20px;
  background-color: #882244;
  height: 100%;

  .nav-submenu__header {
    text-align: center;
    padding: 20px 0 0;
  }

  .nav-submenu__row {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .nav-submenu__col {
    margin: 0 20px;
    width: 200px;
    position: relative;

    h4 {
      margin: 15px 0 5px 0;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 95%;
        height: 1px;
        background: #000000;
      }
    }

    a {
      display: block;
      color: inherit;
      // text-indent: -10px;
      // margin-left: 10px; // cancels out negative text indent for hanging indent
      text-decoration: none;
      line-height: 1.1;
      padding: 12px 0 0;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
}

.temp-content {
  margin: 20px;
  height: 1800px;
}
