<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../styles/styles.css">

    <script type="application/javascript" src="../scripts/helpers.js"></script>
    <script type="application/javascript" src="../scripts/general.js"></script>
</head>

<body id="body">

    <!-- MOBILE MENU DRAWER -->
    <div class="mobile-drawer" id="mobile-menu-drawer">
        <div class="mobile-drawer__content">
            <h2 class="mobile-drawer__header">Nolosha Cusub</h2>
            
            <section id="mobile-menu-container"></section>
        </div>
    </div>

    <div class="flex-layout">
        <!-- HEADER -->
        <div class="flex-layout__header" id="header-nav">
            <div class="hamburger-icon" id="hamburger-icon-body">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="desktop-nav-container full-nav-item">
                <h2 class="center-text">Nolosha Cusub</h2>
                <div class="desktop-nav">
                    <div class="desktop-nav__item">
                        Qoraal
                        <div class="desktop-nav__expansion">
                            <h2 class="center-text">Qoraal</h2>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Mawal / Muuqaal
                        <div class="desktop-nav__expansion">
                            <h2 class="center-text">Mawal / Muuqaal</h2>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Kitaabka Quduuska Ah
                        <div class="desktop-nav__expansion">
                            <h2 class="center-text">Kitaabka Quduuska Ah</h2>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Jadwalka Idaacadda
                        <div class="desktop-nav__expansion">
                            <h2 class="center-text">Jadwalka Idaacadda</h2>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Bogag Kale
                        <div class="desktop-nav__expansion">
                            <h2 class="center-text">Bogag Kale</h2>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Nagala soo xiriir
                        <div class="desktop-nav__expansion">
                            <h2 class="center-text">Nagala soo xiriir</h2>
                        </div>
                    </div>
          
                 
                </div>
              </div>
        </div>

        <!-- BODY -->
        <div class="flex-layout__body">
            <h1 class="page-title">Nolosha Cusub</h1>

            <div id="like_button_container"></div>
        </div>

        <!-- FOOTER -->
        <div class="flex-layout__footer">
            FOOTER
        </div>
    </div>

    <!-- REACT SCRIPTS -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- COMPONENTS -->
    <script type="text/javascript" src="../scripts/react/mobile-menu-component.js"></script>
</body>
</html>
