<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../styles/styles.css">

    <script type="application/javascript" src="../scripts/helpers.js"></script>
    <script type="application/javascript" src="../scripts/general.js"></script>
</head>

<body id="body">

    <!-- MOBILE MENU DRAWER -->
    <div class="mobile-drawer" id="mobile-menu-drawer">
        <div class="mobile-drawer__content">
            <h2 class="mobile-drawer__header">Nolosha Cusub</h2>
            
            <section id="mobile-menu-container"></section>
        </div>
    </div>

    <div class="flex-layout">
        <!-- HEADER -->
        <div class="flex-layout__header" id="header-nav">
            <div class="hamburger-icon" id="hamburger-icon-body">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="desktop-nav-container full-nav-item">
                <h2 class="center-text">Nolosha Cusub</h2>
                <div class="desktop-nav">
                    <div class="desktop-nav__item">
                        Qoraal
                        <div class="desktop-nav__expansion">
                            <div class="nav-submenu">
                                <h2 class="nav-submenu__header">Qoraal</h2>
                                <div class="nav-submenu__row">
                                    <div class="nav-submenu__col">
                                        <h4>Awoondirsad</h4> 
                                        <a href="#">Ilaah Keliya Iyo Jid Keliya</a>
                                        <a href="#">Wixii Aan Ka Maqalnay Nebiyada</a>
                                        <h4>Suugaan</h4>
                                        <a href="#">Qaynuunka Dahabkaa</a>
                                        <a href="#">Ilaahow na Tilmaanoo</a>
                                        <a href="#">Xalay Baan Masiixii Arkoo</a>
                                        <a href="#">Guullow Ilaahow</a>
                                        <a href="#">Nuurkii Adduunka</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Qoraal Gaaban</h4>
                                        <a href="#">Qirashada Iimaanka oo Kooban Ah</a>
                                        <a href="#">Qirashada Iimaanka</a>
                                        <a href="#">Baryada Rabbiga</a>
                                        <a href="#">Sidee Baad u Aragtaa Masiixa</a>
                                        <a href="#">Maragfurka Shahiidkii Mehdi Dibaaj</a>
                                        <a href="#">Miyaad Faraxsan Tahay</a>
                                        <a href="#">Saddex-Midnimada Ilaahay</a>
                                        <a href="#">Masiixinimo</a>
                                        <a href="#">Waxba ha ka Cabsan</a>
                                        <a href="#">Diin oo Keliyaa</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Taariikhda Kiniisadda ee Soomaaliya</h4>
                                        <a href="#">Taariikhkii Hore ee Kaniisadda Soomaaliya</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Cabdulqaardir Warsame Cumar</a>
                                        <a href="#">Shahiid Liibaan Ibraahim Xasan</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <a href="#">Markhaatifurka Carraale</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Mawal / Muuqaal
                        <div class="desktop-nav__expansion">
                            <div class="nav-submenu">
                                <h2 class="nav-submenu__header">Mawal / Muuqaal</h2>
                                <div class="nav-submenu__row">
                                    <div class="nav-submenu__col">
                                        <h4>Qoraal Gaaban</h4>
                                        <a href="#">Qirashada Iimaanka oo Kooban Ah</a>
                                        <a href="#">Qirashada Iimaanka</a>
                                        <a href="#">Baryada Rabbiga</a>
                                        <a href="#">Sidee Baad u Aragtaa Masiixa</a>
                                        <a href="#">Maragfurka Shahiidkii Mehdi Dibaaj</a>
                                        <a href="#">Miyaad Faraxsan Tahay</a>
                                        <a href="#">Saddex-Midnimada Ilaahay</a>
                                        <a href="#">Masiixinimo</a>
                                        <a href="#">Waxba ha ka Cabsan</a>
                                        <a href="#">Diin oo Keliyaa</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Awoondirsad</h4> 
                                        <a href="#">Ilaah Keliya Iyo Jid Keliya</a>
                                        <a href="#">Wixii Aan Ka Maqalnay Nebiyada</a>
                                        <h4>Suugaan</h4>
                                        <a href="#">Qaynuunka Dahabkaa</a>
                                        <a href="#">Ilaahow na Tilmaanoo</a>
                                        <a href="#">Xalay Baan Masiixii Arkoo</a>
                                        <a href="#">Guullow Ilaahow</a>
                                        <a href="#">Nuurkii Adduunka</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Taariikhda Kiniisadda</h4>
                                        <a href="#">Taariikhkii Hore ee Kaniisadda Soomaaliya</a>
                                        <a href="#">Cabdulqaardir Warsame Cumar</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <h4>Taariikhda Kiniisadda ee Soomaaliya</h4>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <a href="#">Shahiid Liibaan Ibraahim Xasan</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <a href="#">Markhaatifurka Carraale</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Kitaabka Quduuska Ah
                        <div class="desktop-nav__expansion">
                            <div class="nav-submenu">
                                <h2 class="nav-submenu__header">Kitaabka Quduuska Ah</h2>
                                <div class="nav-submenu__row">
                                    <div class="nav-submenu__col">
                                        <h4>Awoondirsad</h4> 
                                        <a href="#">Ilaah Keliya Iyo Jid Keliya</a>
                                        <a href="#">Wixii Aan Ka Maqalnay Nebiyada</a>
                                        <h4>Suugaan</h4>
                                        <a href="#">Qaynuunka Dahabkaa</a>
                                        <a href="#">Ilaahow na Tilmaanoo</a>
                                        <a href="#">Xalay Baan Masiixii Arkoo</a>
                                        <a href="#">Guullow Ilaahow</a>
                                        <a href="#">Nuurkii Adduunka</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Qoraal Gaaban</h4>
                                        <a href="#">Qirashada Iimaanka oo Kooban Ah</a>
                                        <a href="#">Qirashada Iimaanka</a>
                                        <a href="#">Baryada Rabbiga</a>
                                        <a href="#">Sidee Baad u Aragtaa Masiixa</a>
                                        <a href="#">Maragfurka Shahiidkii Mehdi Dibaaj</a>
                                        <a href="#">Miyaad Faraxsan Tahay</a>
                                        <a href="#">Saddex-Midnimada Ilaahay</a>
                                        <a href="#">Masiixinimo</a>
                                        <a href="#">Waxba ha ka Cabsan</a>
                                        <a href="#">Diin oo Keliyaa</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Ee Soomaaliya</h4>
                                        <a href="#">Taariikhkii Hore ee Kaniisadda Soomaaliya</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Cabdulqaardir Warsame Cumar</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <h4>Taariikhda Kiniisadda</h4>
                                        <a href="#">Shahiid Liibaan Ibraahim Xasan</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <a href="#">Markhaatifurka Carraale</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Jadwalka Idaacadda
                        <div class="desktop-nav__expansion">
                            <div class="nav-submenu">
                                <h2 class="nav-submenu__header">Jadwalka Idaacadda</h2>
                                <div class="nav-submenu__row">
                                    <div class="nav-submenu__col">
                                        <h4>Qoraal Gaaban</h4>
                                        <a href="#">Qirashada Iimaanka oo Kooban Ah</a>
                                        <a href="#">Qirashada Iimaanka</a>
                                        <a href="#">Baryada Rabbiga</a>
                                        <a href="#">Sidee Baad u Aragtaa Masiixa</a>
                                        <a href="#">Maragfurka Shahiidkii Mehdi Dibaaj</a>
                                        <a href="#">Miyaad Faraxsan Tahay</a>
                                        <a href="#">Saddex-Midnimada Ilaahay</a>
                                        <a href="#">Masiixinimo</a>
                                        <a href="#">Waxba ha ka Cabsan</a>
                                        <a href="#">Diin oo Keliyaa</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Awoondirsad</h4> 
                                        <a href="#">Ilaah Keliya Iyo Jid Keliya</a>
                                        <a href="#">Wixii Aan Ka Maqalnay Nebiyada</a>
                                        <h4>Suugaan</h4>
                                        <a href="#">Qaynuunka Dahabkaa</a>
                                        <a href="#">Ilaahow na Tilmaanoo</a>
                                        <a href="#">Xalay Baan Masiixii Arkoo</a>
                                        <a href="#">Guullow Ilaahow</a>
                                        <a href="#">Nuurkii Adduunka</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Taariikhda Kiniisadda ee Soomaaliya</h4>
                                        <a href="#">Taariikhkii Hore ee Kaniisadda Soomaaliya</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Cabdulqaardir Warsame Cumar</a>
                                        <a href="#">Shahiid Liibaan Ibraahim Xasan</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <a href="#">Markhaatifurka Carraale</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Bogag Kale
                        <div class="desktop-nav__expansion">
                            <div class="nav-submenu">
                                <h2 class="nav-submenu__header">Bogag Kale</h2>
                                <div class="nav-submenu__row">
                                    <div class="nav-submenu__col">
                                        <h4>Awoondirsad</h4> 
                                        <a href="#">Ilaah Keliya Iyo Jid Keliya</a>
                                        <a href="#">Wixii Aan Ka Maqalnay Nebiyada</a>
                                        <h4>Suugaan</h4>
                                        <a href="#">Qaynuunka Dahabkaa</a>
                                        <a href="#">Ilaahow na Tilmaanoo</a>
                                        <a href="#">Xalay Baan Masiixii Arkoo</a>
                                        <a href="#">Guullow Ilaahow</a>
                                        <a href="#">Nuurkii Adduunka</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Qoraal Gaaban</h4>
                                        <a href="#">Qirashada Iimaanka oo Kooban Ah</a>
                                        <a href="#">Qirashada Iimaanka</a>
                                        <a href="#">Baryada Rabbiga</a>
                                        <a href="#">Sidee Baad u Aragtaa Masiixa</a>
                                        <a href="#">Maragfurka Shahiidkii Mehdi Dibaaj</a>
                                        <a href="#">Miyaad Faraxsan Tahay</a>
                                        <a href="#">Saddex-Midnimada Ilaahay</a>
                                        <a href="#">Masiixinimo</a>
                                        <a href="#">Waxba ha ka Cabsan</a>
                                        <a href="#">Diin oo Keliyaa</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Taariikhda Kiniisadda ee Soomaaliya</h4>
                                        <a href="#">Taariikhkii Hore ee Kaniisadda Soomaaliya</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Cabdulqaardir Warsame Cumar</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <h4>Taariikhda Kiniisadda</h4>
                                        <a href="#">Shahiid Liibaan Ibraahim Xasan</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <a href="#">Markhaatifurka Carraale</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desktop-nav__item">
                        Nagala soo xiriir
                        <div class="desktop-nav__expansion">
                            <div class="nav-submenu">
                                <h2 class="nav-submenu__header">Nagala soo xiriir</h2>
                                <div class="nav-submenu__row">
                                    <div class="nav-submenu__col">
                                        <h4>Qoraal Gaaban</h4>
                                        <a href="#">Qirashada Iimaanka oo Kooban Ah</a>
                                        <a href="#">Qirashada Iimaanka</a>
                                        <a href="#">Baryada Rabbiga</a>
                                        <a href="#">Sidee Baad u Aragtaa Masiixa</a>
                                        <a href="#">Maragfurka Shahiidkii Mehdi Dibaaj</a>
                                        <a href="#">Miyaad Faraxsan Tahay</a>
                                        <a href="#">Saddex-Midnimada Ilaahay</a>
                                        <a href="#">Masiixinimo</a>
                                        <a href="#">Waxba ha ka Cabsan</a>
                                        <a href="#">Diin oo Keliyaa</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Awoondirsad</h4> 
                                        <a href="#">Ilaah Keliya Iyo Jid Keliya</a>
                                        <a href="#">Wixii Aan Ka Maqalnay Nebiyada</a>
                                        <h4>Suugaan</h4>
                                        <a href="#">Qaynuunka Dahabkaa</a>
                                        <a href="#">Ilaahow na Tilmaanoo</a>
                                        <a href="#">Xalay Baan Masiixii Arkoo</a>
                                        <a href="#">Guullow Ilaahow</a>
                                        <a href="#">Nuurkii Adduunka</a>
                                    </div>
                                    <div class="nav-submenu__col">
                                        <h4>Ee Soomaaliya</h4>
                                        <a href="#">Taariikhkii Hore ee Kaniisadda Soomaaliya</a>
                                        <a href="#">Jidkii Nabaddoonka</a>
                                        <a href="#">Cabdulqaardir Warsame Cumar</a>
                                        <a href="#">Shahiid Liibaan Ibraahim Xasan</a>
                                        <a href="#">Shahiid Maxamed Xuseen</a>
                                        <a href="#">Markhaatifurka Carraale</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          
                 
                </div>
              </div>
        </div>

        <!-- BODY -->
        <div class="flex-layout__body">
            <h1 class="page-title">Nolosha Cusub</h1>
            <div class="page-content">
                <img src="../resources/images/city-1.jpg" alt="Woman reading scripture" class="primary-img">

                <section class="content-section">
                    <h3 class="center-text">Quick Links</h3>
                    <div class="quicklinks">
                        <div class="quicklinks__item"></div>
                        <div class="quicklinks__item"></div>
                        <div class="quicklinks__item"></div>
                        <div class="quicklinks__item"></div>
                        <div class="quicklinks__item"></div>
                        <div class="quicklinks__item"></div>
                    </div>
                </section>

                <section class="content-section">
                    <h3 class="center-text">Scripture</h3>
                    <pre class="block-quote">
" 1 Rabbiyow, ilaa goormaad i illoobaysaa? Ma weligaa baa?
Oo ilaa goormaad wejigaaga iga qarinaysaa?
2 Ilaa goormaan naftayda la tashanayaa,
Anigoo maalinta oo dhan calool xun?
Ilaa goormuu cadowgaygu iga sarraynayaa?
3 Rabbiyow Ilaahayow, waxaas u fiirso, oo ii jawaab,
Indhahayga iftiimi, yaanan hurdadii geerida seexanine,
4 Waaba intaasoo cadowgaygu yidhaahdaa, Anigu isagaan ka adkaaday,
Oo ay cadaawayaashaydu farxaan markii lay dhaqaajiyo.
5 Laakiinse anigu waxaan isku halleeyey naxariistaada,
Oo qalbigayguna wuxuu ku rayrayn doonaa badbaadintaada.
6 Rabbigaan u gabyi doonaa,
Maxaa yeelay, wax badan oo wanaagsan buu ii sameeyey. "
                    </pre>
                </section>
            </div>
        </div>

        <!-- FOOTER -->
        <div class="flex-layout__footer">
            FOOTER
        </div>
    </div>

    <!-- REACT SCRIPTS -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- COMPONENTS -->
    <script type="text/javascript" src="../scripts/react/mobile-menu-component.js"></script>
</body>
</html>
