<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../styles/styles.css">

    <script type="application/javascript" src="../scripts/helpers.js"></script>
    <script type="application/javascript" src="../scripts/general.js"></script>
</head>

<body id="body">

    <!-- MOBILE MENU DRAWER -->
    <div class="mobile-drawer" id="mobile-menu-drawer">
        <div class="mobile-drawer__content">
            <h2 class="mobile-drawer__header">Nolosha Cusub</h2>
            
            <section id="mobile-menu-container">
                <!-- <ul class="mobile-menu">
                    <li class="mobile-menu__item">Qoraal</li>
                    <li class="mobile-menu__item mobile-menu__item--nested">MuuQaal</li>
                    <li class="mobile-menu__item">Kitaabka Quduuska Ah</li>
                    <li class="mobile-menu__item">Jadwalka Idaacadda</li>
                    <li class="mobile-menu__item">Bogag Kale</li>
                    <li class="mobile-menu__item">Nagala soo xiriir</li>
                </ul> -->
            </section>
        </div>
    </div>

    <div class="flex-layout">
        <!-- HEADER -->
        <div class="flex-layout__header" id="header-nav">
            <div class="hamburger-icon" id="hamburger-icon-body">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <h2 class="full-nav-item">HEADER</h2>
        </div>

        <!-- BODY -->
        <div class="flex-layout__body">
            <h1 class="page-title">Nolosha Cusub</h1>

            <div id="like_button_container"></div>
        </div>

        <!-- FOOTER -->
        <div class="flex-layout__footer">
            FOOTER
        </div>
    </div>

    <!-- REACT SCRIPTS -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- COMPONENTS -->
    <script type="text/javascript" src="../scripts/react/mobile-menu-component.js"></script>
</body>
</html>
